body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffeaea;
}
#hero{
    margin-top: 5rem;
    
}

.hero-text{
    text-align: left;
}
h1 {
    margin: 0.5rem;
    font-family: 'Finger Paint', cursive;
    font-size: 6rem;
   color: #8952ff;
}
p {
    margin-top: 1rem;
    font-size: 1.6rem;
    width: 90%;
    line-height: 1.2;
}
.hero-image{
    max-width: 25%;
    height: auto;
    padding-left: 3rem;     
}
#chatbot{
   margin-top: 5rem;
   text-align: center; 
}
.chatbot-iframe{
    width: 75%;
    height:700px;
    
}

.btn-dark{
    background-color: #8952ff;
}
.footer{
    max-width: 50%;
    margin: 5rem auto 5rem auto;
}

@media (max-width : 1016px) {
   #hero{
    margin-top: 3rem;
    margin-bottom: 5rem;
   }

   .hero-text{
    /*text-align: center;*/ 
    margin-bottom: 2rem;  
    }

   h1 {
    font-size: 4rem;
    
    }

    p{
    font-size: 1.5rem;
    width: 100%;
    line-height: 1.2;
    }

    img{
    width: 300px;
    
    }
    .chatbot-iframe{
        width: 90%;
        height:600px;
        
    }
    .footer{
        margin-top: 5rem;
        max-width: 100%;
    }
 
}
